
.background {
  margin: 10px;
  width: 250px;
  height: 250px;
  background-color: rgba(200, 200, 0, 0.2);
}

.box {
  margin: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
