:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  width: 95%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 700;
}


.slider {
  width: 100%;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.tenureContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tenure {
  width: 15%;
  height: 40px;
  border: none;
  border-radius: 100px;
  background-color: rgb(226, 226, 226);
  color: #242424;
}

.selected {
  background-color: #009ad6;
  color: white;
}
